@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap");
@import "colors.css";
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--background);
}
.home {
  margin-left: 12%;
}
#btnScroll {
  position: fixed;
  display: none;
  bottom: 30px;
  right: 30px;
  transition: all 0.2s ease 0s;
  padding: 15px 25px;
  border-radius: var(--btn-radius);
  border: none;
  background-color: var(--btn-background);
  color: var(--text-white);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}
.firstheader {
  position: fixed;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
  background-color: var(--navbar-color);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 20px var(--card-shadow);
}
.logo {
  font-family: "Montserrat", sans-serif;
  margin-right: auto;
  margin-left: 20px;
  font-weight: 900;
  width: 100px;
    height: 50px;
    object-fit: cover;
  color: var(--second-background);
}
.logo:hover {
  animation-name: popup;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
.searchBox {
  text-align: center;
}
.formSearch {
  height: auto !important;
}
.search {
  color: var(--background-transparent);
  background-color: var(--card-shadow);
  padding: 10px 20px;
  border-radius: 50px 0 0 50px;
  border: none;
  margin: auto;
  box-shadow: 0 0 15px var(--box-shadow);
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  outline: none;
  width: 300px;
}
.search::placeholder {
  color: var(--background-transparent);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.searchBtn {
  padding: 10px 20px;
  border-radius: 50px;
  margin-left: -30px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background-color: var(--btn-background);
  font-size: 14px;
  color: var(--text-white);
  outline: none;
  transition: 0.5s;
}
.searchBtn:hover {
  background-color: var(--hover-color);
}
ul,
li,
a,
.btn_nav {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: var(--text-white);
}
ul {
  list-style: none;
}
ul li {
  display: inline-block;
  padding: 0 20px;
}
ul li a {
  transition: all 0.3s ease 0s;
}
nav ul li a {
  color: var(--background-transparent);
}
ul li a:hover {
  color: var(--btn-background);
}
.btn_nav {
  transition: all 0.3s ease 0s;
  padding: 10px 20px;
  margin: 0 5px 0 0;
  border-radius: var(--btn-radius);
  border: none;
  background-color: var(--btn-background);
  color: #fff;
}

.btn:hover {
  background-color: var(--hover-color);
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.header {
  height: 60vh;
  background-image: linear-gradient(to right, #99000091, #29292991);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}
.swiper {
  width: 100%;
  height: 100vh;
}
.swiper-slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -11;
  overflow: hidden;
  position: absolute;
  filter: brightness(50%);
}
.title-section {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-10%, -50%);
  z-index: 1;
}
.big-title {
  margin: 20px;
  font-family: "Montserrat", sans-serif;
  color: var(--text-white);
  /*text-shadow: 0 0 20px #999;*/
  font-size: 5rem;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
  z-index: 1;
}

.btn-header {
  transition: all 0.1s ease 0s;
  padding: 15px 25px;
  margin: 0 20px;
  border-radius: var(--btn-radius);
  border: none;
  background-color: var(--btn-background);
  color: var(--text-white);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
.btn:active,
.btn-header:active {
  transform: translateY(3px);
  z-index: 1;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  80% {
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes popup {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }

  100% {
  }
}
.container {
  width: 80%;
  margin: auto;
  padding-top: 7%;
}

.CategoriesTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-align: center;
  color: var(--hover-color);
  margin-bottom: 5%;
  font-size: 2rem;
}
.boxs {
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-areas:
    "box1 box1 box2 box3"
    "box4 box5 box5 box3";
  margin-bottom: 5%;
}
.box {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
  text-shadow: 0 0 25px var(--hover-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-white);
  background-position: center;
  background-size: cover;
  transition: all 1.5s ease-in-out;
}
.box:hover {
  background-position-y: 0.5%;
  background-position-x: 2%;
}
.box1 {
  grid-area: box1;
  background-image: url(../image/phone.jpg);
}
.box2 {
  grid-area: box2;
  background-image: url(../image/accessoire.jpg);
}
.box3 {
  grid-area: box3;
  background-image: url(../image/watch.jpg);
}
.box4 {
  grid-area: box4;
  background-image: url(../image/nike.jpg);
}
.box5 {
  grid-area: box5;
  background-image: url(../image/computer.jpg);
}
.btnAdd {
  position: fixed;
  bottom: 3%;
  left: 41%;
  right: 41%;
  background-color: var(--background-transparent) !important;
  box-shadow: 0 5px 15px var(--card-shadow);
  font-size: 18px;
}
.container-articles {
  background-image: url("../image/backgroundArticle.jpg");
  background-size: cover;
  background-position: top;
  border-radius: 20px;
}
.Article-title {
  padding-bottom: 4%;
  font-size: 35px;
  margin-bottom: 3%;
  color: var(--text-white);
  font-size: 22px;
  font-size: 55px !important;
}
.widget {
  height: 320px;
  width: 23%;
  float: left;
  padding: 0px;
  background-color: var(--text-white);
  border-radius: 15px;
  margin: 15px 2% 0px 0px;
  box-shadow: 0 10px 25px var(--card-shadow);
}
.card-img-top {
  border-radius: 10px 10px 0 0;
  height: 200px;
  width: 240px;
  object-fit: cover;
}
.card-body {
  display: grid;
  align-content: space-evenly;
  justify-content: start;
  justify-items: start;
  align-items: center;
  height: 100px;
  margin-left: 15px;
}
.card-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.card-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
}
.btn-article {
}
